@charset "UTF-8";



:root {
    --primary-color: #49A09D;
    --secondary-color: #5F2C82;
    --font: Arial, sans-serif;
}

body {
    background: var(--secondary-color);
    position: relative;
    height: 97vh;
}

main {
    transition: 1s;
    background-color: #f0f0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 550px;
    text-align: center;
    border-radius: 10px;
    font-family: var(--font);
}

main img {
    width: 100%;
    height: 40%;
    border-radius: 10px 10px 0 0;
}

main h1 {
    font-size: 1.5em;
    text-align: center;
}

main p {
    text-align: justify;
    text-indent: 10px;
    margin: 0 10px;
    color: #333;
}

form > p {
    background-color: var(--secondary-color);
    margin: 5px 10px;
    border-radius: 5px;
    padding: 2px;
}

form > p i {
    vertical-align: middle;
    margin-right: 8px;
    color: #fff;
    text-align: left;
    text-indent: 0;
}

form > p input {
    width: 75%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
}

form > p > input:hover {
    background-color: white;
    transition: 1s;
}

input.submit {
    width: 100%;
    text-indent: 0;
    position: relative;
    right: 4.5%;
    height: 100%;
    color: white;
}

p.submit, p.esq {
    background-color: var(--primary-color) ;
    height: 40px;
    margin: 8px;
}

input.esq, input.submit {
  right: 4%;
}

p.esq {
    background-color: transparent;
    margin-top: 10px;
}

input.esq {
    background-color: white;
    color: black;
}

.dir {
    display: none;
}
@media screen and (min-width: 601px) and (max-width: 1024px) {

    main {
        transition: 1s;
        width: 90%;
        height: 370px;
        text-align: left;
        columns: 2;
        box-shadow: 0 0 10px 1px black;
    }

    h1 {
        padding-top: 20px;
    }

    main p.paragrafo {
        margin: 25px 20px 5px 0;
    }
    
    main img {
        width: 100%;
        border-radius: 10px 0 0 10px;
        height: 100%;
    }

    input#itext, input#isenha {
        width: 73%;
    }

    input#itext:hover, input#isenha:hover {
        border: 2px solid black;
        outline: 1px solid white; 
    }

    p.submit, p.esq {
         box-shadow: -1.5px 0 5px 1px black;
    }

    img {
        margin: 0;
        padding: 0;
        text-indent: 0;
    }

    form {
        margin-right: 20px;
        margin-top: 20px;
    }

    body {
        background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    }
}

@media screen and (min-width: 1024px){
    img.esq{
        display: none;
    }

    img.dir{
        display: block;
        height: 100%;
        border-radius: 0 10px 10px 0;
    }

    main {
        width: 80%;
        height: 400px;
        columns: 2;
    }

    p.lab {
        margin-bottom: 20px;
    }

    input.submit, p.submit {
        width: 410px;
        padding: 2px;
        margin-left: 10px;
        width: 98%;
    }

    p.submit {
        margin-bottom: 20px;
        width: 95%;
    }

    input.esq{
        width: 100%;
        margin-left: 5px;
        right: 3%;
    }

    p.esq {
        width: 95%;
        margin: auto;
        left: 2%
    }

    p.submit, p.esq {
         box-shadow: 0 0 5px 1px black;
    }

    body {
        background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    }
}
