@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #49A09D;
    --secondary-color: #5F2C82;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color)
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.450);
}

section#login > div#imagem {
    height: 200px;
    width: 100%;
    background: var(--secondary-color) url(https://images.pexels.com/photos/5475752/pexels-photo-5475752.jpeg);
    background-size: cover;
    display: block;
}


section#login > div#formulario {
    padding: 10px;
    display: block;
}
