@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #49A09D;
    --secondary-color: #5F2C82;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color)
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 525px;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.450);
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    height: 200px;
    width: 100%;
    background: var(--secondary-color) url(https://images.pexels.com/photos/5475752/pexels-photo-5475752.jpeg);
    background-size: cover;
    display: block;
}


section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--secondary-color);
    color: #70f9f5;
    border: none;
    border: 1px black solid;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #70f9f5;
    color: var(--secondary-color);
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    width: 100%;
    height: 40px;
    background-color: #70f9f5;
    border-radius: 5px;
    color: var(--secondary-color);
    padding-top: 5px;
    margin-top: 7px;
    border: 1px black solid;
}

form > a.botao:hover {
    background-color: var(--secondary-color);
    color: #70f9f5;
}

form > a.botao i {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--secondary-color);
    height: 40px;
    display: block;
    border-radius: 8px;
    margin: 7px 0;
    border: 3px solid var(--secondary-color);
}

div.campo > label > i {
    padding: 8px;
    color: white;
}

div.campo > input {
    font-size: 1em;
    background-color: #70f9f5;
    height: 100%;
    border-radius: 8px;
    border: none;
    padding: 5px;
    width: calc(100% - 45px);
    transform: translateY(-7.4px)
}

div.campo > input:focus-within {
    background-color: white;
}


@media screen and (min-width: 768px) and (max-width: 992px) {

    section#login {
        width: 90%;
        height: 295px;
    }

    section#login div#imagem {
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login div#formulario {
        float: left;
        width: 60%;
    }

    main {
        background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    }
    
}

@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
        height: 340px;
    }

     section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

     section#login > div#formulario {
        float: right;
        width: 50%;
    }


     main {
        background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    }

    div#formulario > p {
    font-size: 1.2em;
}

div#formulario > h1 {
    font-size: 2em;
}
}
